.App {
  text-align: center;
  opacity:70%;
}

.App-name {
  height: 35vmin;
  pointer-events: none;
  font-size:190px;
  font-weight: 500;
}
.todo{
  width: 450px;
  height: 65px;
  font-size: 35px;
  font-weight: 5;
  outline: none;
  border: none;
  box-shadow: 3px 4px 5px 5px rgb(211, 209, 209);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p.todo{
  min-height: 65px;
  height: auto;
  position: relative;
  margin-top: -25px;
  background-color: white;
  cursor: default;
}
.how{
  width: 300px;
  font-size: 20px;
}
.App-header {
  background-color: rgb(235, 233, 233);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(202, 157, 221);
}

.App-link {
  color: #61dafb;
}
